@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* RESET */

html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
    scroll-behavior: smooth;
  }
  body{
    font: 1.6rem sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    line-height: 1.5;
  }
  h1,h2,h3,img,p,ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  header,main{
      margin: 0;
      padding: 0;
      overflow: hidden;    
  }
:root{
  --bgcolor-theme: #F8485E;
  --bgcolor: #554e4e;
  --text-color: #ffffff;
  --text-deux: #33302f;
}
/**{
    box-sizing: border-box;
}*/


/* THEME */

/* HEADER*/
main{
  width: 100%;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
    margin: 5rem;
}
.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--bgcolor-theme);
}
.security_presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 3rem auto;
    font-size: 1.7rem;
    
  }
.sir_presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
  font-size: 1.7rem;

}
span{
  display: inline;
  margin: 0;
}
.red-text {
  color: var(--bgcolor-theme);
  font-weight: bold; /* Facultatif, pour mettre en gras */
}
.img_sir{
  margin:2rem;
  width: 60%;
}
p{
    padding: 2rem;
    line-height: 3rem;
    
}
.u_presentation{
    justify-content: center;
    align-items: center;
    text-align: justify;   
    list-style: disc;
    padding: 1rem; 
  }
.li_presentation{
    line-height: 1.1rem;
    padding: 0.7rem;
  }
/*   CARDS */

.card_security{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    padding: 4rem;
    gap: 2rem;
  }
.card_secops {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70rem;
    height: 20rem;
    perspective: 1000px;
  }

  .card-inner-security {
    width: 50rem;
    height: 20rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card_secops:hover .card-inner-security  {
    transform: rotateY(180deg);
  }
  
  .card-front-security ,
  .card-back-security  {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front-security  {
    background-color: var(--bgcolor-theme);
    color: #fff;
    display: flex;
    align-items: center;
    border: 1rem solid var(--bgcolor-theme);
    border-radius: 1rem;
    justify-content: center;
    transform: rotateY(0deg);
  }
  
  .card-back-security  {
    background-color: var(--bgcolor-theme);
    color: #fff;
    display: flex;
    align-items: center;
    border: 1rem solid var(--bgcolor-theme);
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  
    transform: rotateY(180deg);
  }
  .p-card-security{
   font-size: 8rem;
  }

.bandeau_h3{
    background-color: #554e4e;
    height: 4rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: xx-large;
}
.flex_cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 3rem auto;
    padding: 4rem;
    gap: 15rem;
  }
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 30rem;
    perspective: 1000px;
  }
 
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: var(--bgcolor-theme);
    color: #fff;
    display: flex;
    align-items: center;
    /* border: 1rem solid var(--bgcolor-theme); */
    border-radius: 1rem;
    justify-content: center;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: var(--bgcolor-theme);
    color: #fff;
    display: flex;
    align-items: center;
    border: 1rem solid var(--bgcolor-theme);
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    transform: rotateY(180deg);
    cursor: pointer;
  }
  .img card{
    width: 70%;
  }