@import url('https://fonts.cdnfonts.com/css/fredericka-the-great');
@import url('https://fonts.cdnfonts.com/css/bethalora');
@import url('https://fonts.cdnfonts.com/css/avocade');
@import url('https://fonts.cdnfonts.com/css/hello-good-old-outline');

/* RESET */

html{ /* sélecteur propriété valeur */
  font-size: 62.5%;  /* 1.000rem root em 10px */
  scroll-behavior: smooth;
}
body{
    font: 1.6rem sans-serif;
    height: 100vh;
    margin: 0;
    letter-spacing: 5px;
    position: relative;
}
h1,h2,h3{
  margin: 0;
}
main{
   max-width: 120rem;
    margin: auto;
    overflow: hidden;
    
}
:root{
  --bgcolor-theme: #BFAE9F;
  --bgcolor: #fff;
  --text-color: #73655D;
  --text-deux: #0d0a08;
}
/**{
    box-sizing: border-box;
}*/


/* THEME */

/* HEADER*/
header{
    background-color: var(--bgcolor );
    float: left;       /* Déplace la section vers la gauche */
    width: 50%;         /* Fait prendre à la section la moitié de la largeur de la page */
    height: 100vh; /* l'option vh permet de mettre la section sur toute la hauteur de la page web*/
    color: var(--text-color);
   
   /* font: 'Roboto', sans-serif;*/    
}
header > h1{
    font-family: 'Fredericka the Great', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    padding-top: 10rem;
    padding-left: 2rem;
    line-height: 1.5;
}
header > h2{
  /* font-family: 'Roboto', sans-serif;
  font-size: 2rem; */
  padding-left: 15%;
  padding-top: 20%;
  
}
/* MISE EN PAGE PAGE DE DROITE */
nav.page_de_droite{ 
  float: right;       /* Déplace la section vers la droite */
  width: 50%;         /* Fait prendre à la section la moitié de la largeur de la page */
  height: 100vh;
}






.mask{
  overflow: hidden;
}

/* FOOTER */
footer{
    background-color: #BFB8B4;
    
    /* box-sizing: border-box; */
}















/*h1,h2,h3,h4,p,ol,ul,li,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
header h1, footer{
    text-align: left;
}*/

/*section ul.gallery-primary-logo{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}
section ul.gallery-primary-logo li{
    clip-path: ellipse(130px 140px at 10% 20%);
    cursor: pointer;
    /*filter: drop-shadow(0 0 0.60rem)
}
section ul.gallery-primary-logo img{
    width: 100%;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: #222;
}
*/